

@media only screen and (max-width: 420px) {
    .button-cover {
        margin-bottom: 20px;
        text-align: center;
    }


}



@media only screen and (max-width: 420px) {


    #scholars_logo {
        content: url(/images/icon.png);
        width: 50%;
    }

}



