div-hide.icon-cover i {
    font-size: 50px;
}


.top-margin-10 {
    margin-top: 10px;
}

.top-margin-20 {
    margin-top: 20px;
}

.top-margin-30 {
    margin-top: 30px;
}

.top-margin-40 {
    margin-top: 40px;
}

.top-margin-50 {
    margin-top: 50px;
}

.top-margin-80 {
    margin-top: 80px;
}

.thumbnail a:link {
    color: #333;
}

.thumbnail a:visited {
    color: #333;
}


.thumbnail a:hover {
    color: #333;
}


.thumbnail a:active {
    color: #333;
}

@media only screen and (min-width: 1200px) {
    .course_price_tag {
        color: #2cb371;
        font-size: 15px;
        font-weight: 700;
        line-height: 2.1;
    }
    .thumbnail {
        height: 430px;
    }
}

.yellow{
    color: rgb(244, 193, 80);
}

.profile img {
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
}

.thumbnail .table td{
    vertical-align: middle;
}

.course_caption {
    font-size: 18px;
}

.course_description {
    font-size: 14px;
}


@media (max-width: 1440px) {
    .page-title {
        margin-top: 40px;
    }
}

.img-div {
    display: block;
    margin: auto;
    max-width: 50% !important;
}

.pointer {
    cursor: pointer;
}


.ObjectContainer {
    width: 200px;
    height: 200px;
    /* float: left; */
    display: block;
    position: relative;
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
}


.Object, .ObjectContainer a {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    opacity: 1;
    bottom: 0;
    line-height: 200px;
    font-size: 30px;
    color: azure;
}

.div_1 {
    background-color: #1f518b;
}

.div-to-center {
    justify-content: center;
    display: flex;
}


.div-hide {
    display: none;
}



.b-r-10 {
    border-radius: 10px;
}


.b-r-5 {
    border-radius: 5px;
}